In [ ]:
import pandas as pd

In [ ]:
# ==========================================
# 1. Load Dataset from Stat Xplore
# ==========================================
# Load the raw CSV file downloaded from Stat-Xplore
input_file = 'People_on_UC_Jan25_Jan4.csv'
df = pd.read_csv(input_file)

# Rename the first column to 'Boroughs' for clarity
if 'Month' in df.columns:
    df.rename(columns={'Month': 'Boroughs'}, inplace=True)

In [ ]:
# ==========================================
# 2. Define Filters
# ==========================================
# List of the 33 official London Local Authorities to filter out non-London data
london_boroughs = [
    "City of London", "Barking and Dagenham", "Barnet", "Bexley", "Brent",
    "Bromley", "Camden", "Croydon", "Ealing", "Enfield", "Greenwich",
    "Hackney", "Hammersmith and Fulham", "Haringey", "Harrow", "Havering",
    "Hillingdon", "Hounslow", "Islington", "Kensington and Chelsea",
    "Kingston upon Thames", "Lambeth", "Lewisham", "Merton", "Newham",
    "Redbridge", "Richmond upon Thames", "Southwark", "Sutton",
    "Tower Hamlets", "Waltham Forest", "Wandsworth", "Westminster"
]

# Create a clean DataFrame containing ONLY London Boroughs
london_df = df[df['Boroughs'].isin(london_boroughs)].copy()

In [ ]:
# ==========================================
# 3. Data Cleaning and Type Conversion
# ==========================================
# Ensure the data columns are numeric (remove any non-numeric characters if present)
cols_to_clean = ['Jan-24', 'Jan-25']

for col in cols_to_clean:
    # Coerce errors to NaN (e.g., if there are ".." strings for missing data)
    london_df[col] = pd.to_numeric(london_df[col], errors='coerce')

# Drop any rows where data is missing after conversion
london_df.dropna(subset=cols_to_clean, inplace=True)

In [ ]:
# ==========================================
# 4. CALCULATE GROWTH METRICS
# ==========================================
# Calculate the absolute increase in claimants (Jan 25 - Jan 24)
london_df['Absolute_Change'] = london_df['Jan-25'] - london_df['Jan-24']

# Calculate the percentage growth for context
london_df['Growth_Pct'] = (london_df['Absolute_Change'] / london_df['Jan-24']) * 100

In [ ]:
# ==========================================
# 5. RANKING
# ==========================================
# Sort the data by 'Absolute_Change' descending (Highest growth at the top)
london_df_sorted = london_df.sort_values(by='Absolute_Change', ascending=False)

# Select only the relevant columns for the final report/dashboard
final_output = london_df_sorted[['Boroughs', 'Jan-24', 'Jan-25', 'Absolute_Change', 'Growth_Pct']]

In [ ]:
# ==========================================
# 6. EXTRACTION
# ==========================================#
# Save the cleaned data to a new CSV file
output_filename = 'London_UC_Analysis_Cleaned.csv'
final_output.to_csv(output_filename, index=False)

# Print the top 5 rows to verify
print("Top 5 Boroughs by Growth:")
print(final_output.head(5))
print(f"\nCleaned dataset saved as: {output_filename}")

Top 5 Boroughs by Growth:
          Boroughs   Jan-24   Jan-25  Absolute_Change  Growth_Pct
202  Tower Hamlets  47241.0  57872.0          10631.0   22.503757
197         Newham  54399.0  64827.0          10428.0   19.169470
184        Hackney  36418.0  46569.0          10151.0   27.873579
182        Enfield  47951.0  57714.0           9763.0   20.360368
177          Brent  48479.0  58213.0           9734.0   20.078797

Cleaned dataset saved as: London_UC_Analysis_Cleaned.csv